<?xml version="1.0" encoding="utf-8" ?>

<mapper namespace="zm.data.code.estuaryapi.dso.db.mapper" :db="db_estuary">

    <!-- user -->

    <sql id="user_add" :return="long" :db="db_estuary">
        INSERT INTO "user" ("user_id", "ugroup_id", "agroup_id", "app_id", "ukey", "lkey", "mobile", "platform", "system", "brand", "model", "udid", "imid", "ip", "longitude", "latitude", "address", "reg_date", "reg_fulltime", "create_date", "create_fulltime", "update_date", "update_fulltime")
                    VALUES (@{user_id:long}, @{ugroup_id:int}, @{agroup_id:int}, @{app_id:int}, @{ukey:String}, @{lkey:String}, @{mobile:String}, @{platform:String}, @{system:String}, @{brand:String}, @{model:String}, @{udid:String}, @{imid:String}, @{ip:String}, @{longitude:double}, @{latitude:double}, @{address:String}, @{reg_date:int}, @{reg_fulltime:Date}, @{create_date:int}, @{create_fulltime:Date}, @{update_date:int}, @{update_fulltime:Date})
    </sql>

    <sql id="user_get_by_lkey" :return="zm.data.code.estuaryapi.models.estuary.UserModel" :db="db_estuary_r">
        SELECT * FROM "user" WHERE "lkey" = @{lkey:String} LIMIT 1
    </sql>

    <sql id="user_get_by_mobile_and_ugroup" :return="zm.data.code.estuaryapi.models.estuary.UserModel" :db="db_estuary_r">
        SELECT * FROM "user" WHERE "mobile" = @{mobile:String} AND "ugroup_id" = @{ugroup_id:int} LIMIT 1
    </sql>

    <!-- user_info -->

    <sql id="user_info_add" :return="long" :db="db_estuary">
        INSERT INTO "user_info" ("user_id", "ugroup_id", "agroup_id", "app_id", "avg_visit_duration", "last_visit_ver", "last_visit_duration", "last_visit_date", "last_visit_fulltime", "create_date", "create_fulltime", "update_date", "update_fulltime")
                         VALUES (@{user_id:long}, @{ugroup_id:int}, @{agroup_id:int}, @{app_id:int}, @{avg_visit_duration:int}, @{last_visit_ver:int}, @{last_visit_duration:int}, @{last_visit_date:int}, @{last_visit_fulltime:Date}, @{create_date:int}, @{create_fulltime:Date}, @{update_date:int}, @{update_fulltime:Date})
    </sql>

    <!-- user_profile -->

    <sql id="user_profile_add" :return="long" :db="db_estuary">
        INSERT INTO "user_profile" ("user_id", "ugroup_id", "agroup_id", "app_id", "avatar", "nickname", "gender", "province", "city", "birthday", "create_date", "create_fulltime", "update_date", "update_fulltime")
                            VALUES (@{user_id:long}, @{ugroup_id:int}, @{agroup_id:int}, @{app_id:int}, @{avatar:String}, @{nickname:String}, @{gender:int}, @{province:String}, @{city:String}, @{birthday:String}, @{create_date:int}, @{create_fulltime:Date}, @{update_date:int}, @{update_fulltime:Date})
    </sql>

</mapper>
