<?xml version="1.0" encoding="utf-8" ?>
<addinsSettings>
    <!--内置了10个mapping-->
    <mapping>
        <map name="{0}.I{1}" type="{0}.{1},{0}" />
        <map name="{0}.I{1}" type="{0}.{1},{0}.V1" />
        <map name="{0}.I{1}" type="{0}.{1},{0}.V2" />
        <map name="{0}.I{1}" type="{0}.{1},{0}.V5" />
        <map name="{0}.I{1}" type="{0}.{1}Service,{0}" />
        <map name="{0}.{1}.{2}"  type="{0}.{1}.{1},{0}.{1}.V5" />
    </mapping>
    

    <Basic>
        <add name="Framework.Components.IPassPort"
             type="Sky.Authentication.Services.PassPort,Sky.Authentication.Services"
             note="认证接口"/>
        
        <Tag>
            <add name="Sky.Tag.IFav" type="Sky.Tag.Fav,Sky.Tag.V2" note="收藏接口" />
            <add name="Sky.Tag.ITag" type="Sky.Tag.Tag,Sky.Tag.V2" note="标签接口" />
        </Tag>

        <Music>
            <add name="Sky.Music.IAlbum"  type="Sky.Music.Music,Sky.Music.V5" note="专辑相关接口"/>
            <add name="Sky.Music.IArtist" type="Sky.Music.Music,Sky.Music.V5" note="歌手相关接口"/>
            <add name="Sky.Music.IMusic"  type="Sky.Music.Music,Sky.Music.V5" note="Music其它信息接口"/>
            <add name="Sky.Music.ITrack"  type="Sky.Music.Music,Sky.Music.V5" note="歌曲相关接口"/>
        </Music>

    </Basic>   

</addinsSettings>