<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="addinsSettings" type="Weed.ConfigHandler,Weed" />
    </configSections>

    <addinsSettings>
        <add name="Weed.OPS.IOpsSerializable" type="Weed.OPS.XDom,Weed" /><!-- 也可以不分组-->
        <add name="Contract.IService1"
                 address="net.tcp://localhost:5000/IService1"
                 binding="Host.CBS51250,Host"/>
        <Weed.OPS>
            <!-- 可随意对配置进行分组,以便管理 -->
            <add name="Weed.OPS.IOpsSerializable1" type="Weed.OPS.XDom,Weed" class="" />
            <add name="Weed.OPS.IOpsSerializable2" type="Weed.OPS.XDom,Weed" />

            <XDom>
                <!-- 可随意对配置进行分组,以便管理 -->
                <add name="Weed.OPS.IOpsSerializable3" type="Weed.OPS.XDom,Weed" />
                <add name="Weed.OPS.IOpsSerializable4" type="Weed.OPS.XDom,Weed" />
            </XDom>
        </Weed.OPS>
        <WCF>
            <add name="Contract.IService1"
                 address="net.tcp://localhost:5000/IService1"
                 binding="Host.CBS51250,Host"/>
            <add name="Contract.IService2"
                 address="net.tcp://localhost:5000/IService2"
                 binding="Host.CBS51250,Host"/>
        </WCF>
    </addinsSettings>

</configuration>