<?xml version="1.0" encoding="utf-8" ?>
<mapper namespace="org.xxx.xxx">
    <sql id="user_add" :return="int">
        INSERT user(user_id) VALUES(@{user_id:int})
    </sql>
    <sql id="user_add_if" :return="int">
        INSERT user(user_id
        <if test="mobile !=null">
            ,mobile
        </if>
        ) VALUES(@{user_id:int}
        <if test="mobile !=null">
            ,@{mobile:String}
        </if>
        )
    </sql>

    <sql id="user_add_for">
        INSERT user(id,mobile,sex) VALUES
        <for var="m:org.xxx.UserModel" items="list">
            (@{m.user_id},@{m.mobile},@{m.sex})
        </for>
    </sql>
    <sql id="user_add_for_if">
        INSERT user(id,mobile,sex) VALUES
        <for var="m:org.xxx.UserModel" items="list">
            <if test="m.mobile != null">
                (@{m.user_id},'${m.mobile}',@{m.sex})
            </if>
            <if test="m.mobile == null">
                (@{m.user_id},@{m.mobile},@{m.sex})
            </if>
        </for>
    </sql>
    <sql id="user_del">
        DELETE FROM user WHERE id=@{user_id:long}
        <if test="sex > 0">
            AND sex=@{sex:int}
        </if>
    </sql>
    <sql id="user_set" :caching="localCache" :cacheClear="user_${user_id}">
        UPDATE user SET mobile=@{mobile:String},sex=@{sex:int}
        <if test="icon != null">
            icon=@{icon:String}
        </if>
    </sql>
    <sql id="user_set" :caching="localCache" :cacheClear="user_${user_id}">
        UPDATE user SET mobile=@{mobile:String},sex=@{sex:int}
        <if test="icon != null">
            icon=@{icon:String}
        </if>
    </sql>
    <sql id="user_get" :declare="foList:int" :return="org.noear.test.UserModel" :caching="localCache" :cacheTag="user_${user_id}">
        SELECT id,${cols:String} FROM user WHERE sex>1 AND mobile=@{mobile:String}
        <if test="foList == 0">
            AND type='article'
        </if>
        <if test="foList == 1">
            AND type='colub'
        </if>
        <if test="foList == 2">
            AND type='post'
        </if>
    </sql>
</mapper>
        <!--
        //使用示例
        db.call("@userdb.user_set").set("@user_id",12).insert()
        db.call("@userdb.user_add").setMap(map).insert()

        //
        public interface userdb{
            UserModel user_get(int user_id, Act1<CacheUsing> cu);
        }

        userdb.user_get(12,(uc)->{ uc.caching(cache).cacheTag('user_id') })

        -->