<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="source" value="mapgo_msg" />
    <add key="templet" value="cd_model.cs.xml" />
    <add key="def_args" value="{namespace:'dao',dbcontext:'Config.mapgo'}" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="beetle" connectionString="database=beetle;server=121.40.78.92;user=root;password=1234;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>

    <add name="stone" connectionString="database=stone;server=121.40.78.92;user=root;password=1234;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>

    <add name="ping" connectionString="database=ping;server=121.40.78.92;user=root;password=1234;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>

    <add name="comicsd" connectionString="database=comicsd;server=121.41.104.216;user=noear;password=rd011077;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>

    <add name="mapgo" connectionString="database=mapgo;server=112.124.13.147;user=root;password=adyMa8Dk;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    <add name="mapgo_bcf" connectionString="database=mapgo_bcf;server=112.124.13.147;user=root;password=adyMa8Dk;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    <add name="mapgo_mark" connectionString="database=mapgo_mark;server=112.124.13.147;user=root;password=adyMa8Dk;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    <add name="mapgo_msg" connectionString="database=mapgo_msg;server=112.124.13.147;user=root;password=adyMa8Dk;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>

    <add name="rock_bcf" connectionString="database=rock_bcf;server=106.15.45.208;user=root;password=gXWTCL18;charset=utf8mb4;"
    providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>

    <!--pull-right
    System.Data.SqlClient
    System.Data.OracleClient
    System.Data.OleDb
    System.Data.Odbc
    System.Data.SqlServerCe.SqlCeProviderFactory,System.Data.SqlServerCe
    MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
