<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="comicsd" connectionString="database=comicsd;server=121.41.104.216;user=noear;password=rd011077;charset=utf8mb4;" providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    <add name="sited" connectionString="database=sited;server=121.41.104.216;user=noear;password=rd011077;charset=utf8;" providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    <add name="playmate" connectionString="database=playmate;server=121.41.104.216;user=noear;password=rd011077;charset=utf8;" providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    
    <add name="yoyo_db" connectionString="database=yoyo_db;server=121.40.78.92;user=root;password=1234;charset=utf8mb4;" providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
	  <add name="user_db" connectionString="database=user_db;server=121.40.78.92;user=root;password=1234;charset=utf8mb4;" providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
	  <add name="beetle" connectionString="database=beetle;server=121.40.78.92;user=root;password=1234;charset=utf8mb4;" providerName="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    <!--
    System.Data.SqlClient
    System.Data.OracleClient
    System.Data.OleDb
    System.Data.Odbc
    System.Data.SqlServerCe.SqlCeProviderFactory,System.Data.SqlServerCe
    MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
